<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yy-MM-dd HH:mm:ss,SSS} %-5p %c(%F:%L) ## %m%n" />
        </layout>
    </appender>
    
    <appender name="fileout" class="org.apache.log4j.DailyRollingFileAppender">  
        <param name="file" value="F:/logs/spider.log"/>  
        <param name="append" value="true"/>  
        <param name="encoding" value="UTF-8"/>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="%d %-5p %l - %m%n"/>  
        </layout>  
    </appender>  

    <logger name="org.springframework" additivity="false">
        <level value="warn" />
        <appender-ref ref="stdout" />
    </logger>
    <logger name="net.sf.ehcache" additivity="false">
        <level value="warn" />
        <appender-ref ref="stdout" />
    </logger>
    <logger name="org.apdplat.word.util" additivity="false">
        <level value="info" />
        <appender-ref ref="fileout" />
    </logger>
    <logger name="running-log" additivity="false">
    	<level value="info"/>
    	<appender-ref ref="fileout" />
    	<appender-ref ref="stdout" />
    </logger>
    <root>
        <level value="debug" />
        <appender-ref ref="stdout" />
    </root>

</log4j:configuration>
